.App {
  text-align: center;
}

.container {
  display: flex;
  padding-top: 60px;
  flex-direction: column;
  background-color: #FAF0E6;
  align-items: center;
  color: black;
  height: 100vh;
  
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile {
  max-height: 250px;
  max-width: 200px;
  border-radius: 50%;
  flex-basis: 30%;
}

.intro {
  flex-basis: 70%;
  align-items: center;
  padding-top: 30px;
}